<table class="table table-hover">
  <thead>
  <tr>
    <th class="col-md-3">Name</th>
    <th class="col-md-1">Price</th>
    <th class="col-md-6">Description</th>
    <th class="col-md-1">Quantity</th>
    <th class="col-md-1"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td class="col-md-3">{{ product.name }}</td>
    <td class="col-md-1">{{ product.price | currency }}</td>
    <td class="col-md-6">{{ product.description }}</td>
    <td class="col-md-1"><input class="form-control" type="number" title="countTitle" value="1" min="1" max="20" #count>
    </td>
    <td class="col-md-1">
      <button id="buyButton" class="btn btn-success" (click)="addToCart(product, count.value)"><span
        class="glyphicon glyphicon-shopping-cart"
        aria-hidden="true"></span> Add To Cart
      </button>
    </td>
  </tr>
  </tbody>
</table>
