<div class="modal-content">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cart</h4>
  </div>
  <div [ngSwitch]="cartItems.length" class="modal-body">

    <p *ngSwitchCase="0">Your cart is empty</p>

    <table *ngSwitchDefault class="table table-hover">
      <thead>
      <tr>
        <th class="col-md-3">Name</th>
        <th class="col-md-1">Price</th>
        <th class="col-md-6">Description</th>
        <th class="col-md-1">Quantity</th>
        <th class="col-md-1"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of cartItems">
        <td class="col-md-3">{{ item.product.name }}</td>
        <td class="col-md-1">{{ item.product.price | currency }}</td>
        <td class="col-md-6">{{ item.product.description }}</td>
        <td class="col-md-1">{{ item.count }} pcs.</td>
        <td class="col-md-1">
          <button [removeFromCart]="item.product" class="btn btn-warning">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Remove One
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button [ngClass]="cartItems.length > 0 ? 'btn btn-primary' : 'btn btn-primary disabled'">Checkout</button>
    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
  </div>
</div>
