<modal #login>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Login</h4>
  </modal-header>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <modal-body>
      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label">Email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="email"
                   placeholder="Enter your Email" required/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label">Password</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="password"
                   placeholder="Enter your Password" required/>
          </div>
        </div>
      </div>
    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="login.dismiss()">Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
    </modal-footer>
  </form>
</modal>
