<modal #signUp>
  <modal-header [show-close]="true">
    <h4 class="modal-title">Registration</h4>
  </modal-header>
  <modal-body>
    <div class="form-group">
      <label for="email" class="cols-sm-2 control-label">Email</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
          <input type="email" class="form-control" name="email" id="email"
                 placeholder="Enter your Email" required/>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="cols-sm-2 control-label">Password</label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" class="form-control" name="password" id="password"
                 placeholder="Enter your Password" required/>
        </div>
      </div>
    </div>
  </modal-body>
  <modal-footer [show-default-buttons]="true"></modal-footer>
</modal>
